In [56]:
import pandas as pd
df=pd.read_csv('./threepublisherlime.csv')
import numpy as np

# Rank Data

In [52]:
rank_columns=list(filter(lambda x: "_feature_rank" in x, df.columns))
print(len(rank_columns))

526

In [57]:
mycols=np.array(['1-qid','two_realRank','two_realRank2','State','predicted','year','model']) # This columns must exist
for col in mycols:
    if(col not in df.columns):
        print(col)

In [58]:
temp=np.concatenate((rank_columns,mycols))

In [61]:
threepublisher_rank=df[temp]

In [62]:
threepublisher_rank.to_csv("threepublisher_rank.csv",index=None)

# Lime Data

In [63]:

contribution_columns=list(filter(lambda x: "_contribution" in x, df.columns))
len(contribution_columns)

526

In [64]:
mycols=np.array(['1-qid','two_realRank','two_realRank2','State','predicted','year','model']) # This columns must exist
for col in mycols:
    if(col not in df.columns):
        print(col)

In [65]:
temp=np.concatenate((contribution_columns,mycols))

In [66]:
threepublisher_lime=df[temp]

In [70]:
threepublisher_lime[contribution_columns]=threepublisher_lime[contribution_columns].apply(lambda x:round(x,3))

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [71]:
threepublisher_lime

,ACTCM25_contribution,ACTCM75_contribution,ACTCMMID_contribution,ADMCON7_contribution,ADM_RATE_contribution,ADM_RATE_ALL_contribution,AGE_ENTRY_contribution,APPL_SCH_N_contribution,APPL_SCH_PCT_GE2_contribution,APPL_SCH_PCT_GE3_contribution,...,WDRAW_ORIG_YR4_RT_contribution,WDRAW_ORIG_YR6_RT_contribution,WDRAW_ORIG_YR8_RT_contribution,1-qid,two_realRank,two_realRank2,State,predicted,year,model
0,-0.833,0.025,0.461,0.392,2.807,-0.251,-0.612,-0.291,0.224,-0.204,...,0.072,0.504,-0.068,2012,2,2,Harvard University,1.0,2012,MART
1,-0.363,-0.110,-0.578,0.561,3.216,0.475,0.328,-0.240,0.112,-0.050,...,0.123,-0.095,-0.124,2012,2,2,Stanford University,1.0,2012,MART
2,0.312,0.407,0.342,0.093,3.054,-0.523,0.479,0.372,-0.059,0.094,...,-0.007,0.180,0.109,2012,7,7,Massachusetts Institute of Technology,1.0,2012,MART
3,0.021,-0.294,0.692,-0.763,2.848,-0.191,0.082,-0.332,0.043,0.106,...,-0.116,0.158,0.104,2012,9,9,University of Chicago,1.0,2012,MART
4,-0.608,0.787,0.731,0.980,2.640,0.207,0.387,0.045,0.227,0.177,...,0.204,0.142,-0.471,2012,10,10,University of California-Berkeley,1.0,2012,MART
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823,-0.134,-0.334,0.166,-0.182,0.017,0.065,0.053,-0.013,-0.193,-0.048,...,-0.041,0.023,-0.103,2015,897,897,University of North Carolina at Greensboro,197.0,2015,RandomFor
2824,0.154,-0.010,0.155,-0.244,-0.198,-0.031,0.036,-0.091,-0.094,0.002,...,-0.040,-0.089,0.063,2015,901,901,University of Southern Mississippi,196.0,2015,RandomFor
2825,-0.061,-0.126,-0.096,-0.072,0.040,0.036,0.016,-0.067,-0.039,0.101,...,0.178,0.034,-0.007,2015,913,913,University of North Dakota,189.0,2015,RandomFor
2826,-1.450,-0.748,-0.118,-0.195,0.177,-0.066,-0.106,0.141,0.141,-0.009,...,-0.029,0.070,0.075,2015,929,929,The University of Texas at El Paso,187.0,2015,RandomFor
2827,0.171,-0.182,-0.132,-0.085,0.178,-0.224,0.145,0.003,-0.203,-0.123,...,0.083,0.073,0.082,2015,936,936,University of California-Merced,142.0,2015,RandomFor

In [72]:
threepublisher_lime.to_csv("threepublisher_lime.csv",index=None)

# -------------------------------------------------------------------

# School Dataset

In [21]:
school_df=pd.read_csv('../../school/lime/school_lime.csv')

In [25]:
#rank_columns=["_contribution" in x for x in df.columns]
rank_columns=list(filter(lambda x: "_contribution" in x, school_df.columns))
len(rank_columns)

9

In [26]:
#rank_columns=["_contribution" in x for x in df.columns]
rank_columns=list(filter(lambda x: "_contribution" not in x, school_df.columns))
len(rank_columns)

20

In [43]:
mycols=['1-qid','two_realRank','two_realRank2','State','predicted','year','model'] # This columns must exist
for col in mycols:
    if(col not in df.columns):
        print(col)

State
year

In [44]:
df['State']=df['name']
df['year']=df['1-qid']

# Remove extra columns

In [19]:
for j in merged.columns:
    if "feature_rank" in j:
        merged.drop(j,axis=1,inplace=True)

In [20]:
for j in merged.columns:
    if j in a:
        merged.drop(j,axis=1,inplace=True)

In [22]:
merged.columns

Index(['1-qid', 'two_realRank', 'two_realRank2', 'State', 'country',
       'teaching', 'international', 'research', 'citations', 'income',
       'total_score', 'num_students', 'student_staff_ratio', 'year',
       'female_percent', 'international_students', 'world_rank',
       'country_encoded', 'country_contribution',
       'female_percent_contribution', 'income_contribution',
       'international_contribution', 'international_students_contribution',
       'num_students_contribution', 'research_contribution',
       'student_staff_ratio_contribution', 'teaching_contribution', 'model'],
      dtype='object')

In [23]:
merged

,1-qid,two_realRank,two_realRank2,State,country,teaching,international,research,citations,income,...,country_contribution,female_percent_contribution,income_contribution,international_contribution,international_students_contribution,num_students_contribution,research_contribution,student_staff_ratio_contribution,teaching_contribution,model
0,2011,167,167.0,Aarhus University,Denmark,38.1,33.40000,55.6,57.3,61.500000,...,-9.881952e-03,-1.787930e-03,9.802727e-02,-3.337767e-02,9.770000e-05,-7.843040e-04,5.796869e-03,-8.390714e-03,1.685774e-03,CordAscent
1,2011,147,147.0,Alexandria University,Egypt,29.5,19.30000,28.0,99.8,36.000000,...,-1.168830e-02,3.005306e-03,-3.631233e-02,-3.503427e-02,2.059000e-04,3.068510e-02,-7.071080e-04,3.042261e-02,-1.917207e-02,CordAscent
2,2011,162,161.0,Arizona State University,USA,43.0,24.10000,44.1,66.9,48.979874,...,8.548674e-03,-2.055621e-03,-1.794490e-03,-3.669966e-02,-1.327311e-03,2.592924e-02,-1.259815e-03,3.020513e-02,4.992283e-03,CordAscent
3,2011,43,43.0,Australian National University,Australia,51.9,93.90000,62.4,81.0,48.979874,...,-1.143998e-02,-1.277368e-03,-1.473124e-03,3.443445e-02,-4.359400e-04,-8.452168e-03,2.113072e-03,-5.843140e-04,5.346403e-02,CordAscent
4,2011,173,173.0,Bielefeld University,Germany,39.9,52.00744,35.7,70.4,48.979874,...,-1.265115e-02,-5.204995e-03,-1.095062e-03,5.219914e-03,8.298830e-04,4.493270e-04,-7.500310e-04,3.422070e-02,2.127015e-03,CordAscent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,2016,48,54.0,École Normale Supérieure,France,70.6,85.50000,47.7,87.1,37.100000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2599,2016,150,201.0,École Normale Supérieure de Lyon,France,41.6,65.60000,30.0,69.0,31.700000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2600,2016,739,NaN,École Polytechnique,France,53.5,92.80000,44.6,64.7,82.300000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2601,2016,31,31.0,École Polytechnique Fédérale de Lausanne,Switzerland,61.3,98.60000,67.5,94.6,65.400000,...,-5.800000e-32,8.200000e-33,-4.100000e-32,4.000000e-32,2.000000e-31,1.300000e-31,-6.100000e-32,3.000000e-32,-4.800000e-32,RankNet
2602,2016,219,301.0,Örebro University,Sweden,18.3,39.40000,10.4,87.8,29.800000,...,1.100000e-32,9.900000e-34,-1.400000e-32,9.200000e-33,1.500000e-32,-2.500000e-33,-1.400000e-32,-2.700000e-32,1.900000e-32,RankNet

In [24]:
merged.to_csv('lime_school.csv',index=False)